<h3>My Profile</h3>

Name: <%= Profile.last.name %>
<br>
<br>
Location: <%= Profile.last.location %>
<br>
<br>
Bio: <%= Profile.last.short_bio %>
<br>
<br>
<%= link_to '<button type="button">Return to Events</button>'.html_safe, root_path %>
