<h3>Check out Feedr's Latest Events:</h3>
<%= link_to 'Add your Event', new_event_path %><br>
<br>

<% if current_user %>
  <%= form_with url: '/users/sign_out', method: "delete", local: true do |form| %>
    <%= form.submit value: "Log out" %>
  <% end %>
<% else %>
 <%= link_to 'Log in', new_user_session_path %>
<% end %>
