<h3>Create your Event!</h3>


<form class="" action="index.html" method="post">
  Event Title:<input type="text" name="event_title" value=""><br>
  Event Info:<input type="text" name="event_info" value=""><br>
  Event Date:<input type="date" name="event_date_time" value=""><br>
  Guest Capacity:<input type="number" name="event_guests" value=""><br>
  <button type="button" name="Submit">Submit</button>
</form>
