.navbar-inverse{
  background-color: #90EE90;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: white;
  background-color: #3CB371;
}

.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: green;
}

.navbar-inverse .navbar-nav :hover {
  background-color: green;
}

a.navbar-brand {
  font-weight: bold;
}
.navbar-brand :hover,{
  color: #ecf0f1;
}

.navbar-inverse {
  border: none;
}
