.nav.navbar-nav li a {
  background-color: #6CB33F;
  color: white;
}

.container-fluid {
  background-color: #6CB33F;
  color: white;
}

.navbar-header a.navbar-brand {
  font-weight: bold;
  background-color: #6CB33F;
  color: white;
}

.navbar-header {
  color: #6CB33F;
}
